body {
    background-color: #aaaaaa !important;
}
a {
    color: blue;
    text-decoration: none !important; /* no underline */
}
.main-page-text {
    text-align: center;
}
.home-page-main {
    margin-top: 100px !important;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.home-page-main-content {
    min-height: 250px;
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    border: 1px solid #fff;
    flex-direction: column;
    line-height: 250px;
    font-size: 30px;
}

.main-page-links {
    display: block;
    margin-bottom: 30px;
    color: purple;
}
.user_times_data {
    margin-bottom: 20px;
    border: 1px solid #ffff;
    width: 50%;
    text-align: center;
}
.main-user-list {
    margin-top: 50px;
    text-align: center;
}
.user-from-list {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid;
    width: 40% !important;
    margin: 0 auto;
}
.set-time-companies {
    font-size: 20px;
    margin-left: 20px;
}
.header-inside h1{
    text-transform: capitalize;
}
.login-main {
    text-align: center;
    margin-top: 30vh;
}
.main-company-page-interact {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.nav-right {
    display: flex;
}
.nav-right-main {
    margin-right: 30px;
}
/* @media screen and (max-width: 600px) { */
    .main {
        max-width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    .header {
        height: 35vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .main-scanner {
        height: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main-scanner a {
        font-size: 80px;
    }
    .main-stats {
        height: 20vh;
        margin-top: 40px;
    }
    .main-stats a {
        display: block;
        width: 80%;
        margin: 0 auto;
        background-color: purple;
        color: white;
        height: 40px;
        line-height: 40px;
        border-radius: 5px;
    }
    .footer {
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .sign_company_main {
        text-align: center;
        margin-top: 30px;
    }
/* } */