{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <style>
        label {
            display: block;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 ">
              {% if request.user.is_authenticated and request.user.is_superuser %}
                <li class="nav-item">
                  <a class="nav-link active" href="#">Admin: {{ request.user }}</a>
                </li>
              {% elif request.user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link active" href="#">{{ request.user }}</a>
                </li>
              {% endif %}
            </ul>
            <ul class="navbar-nav mb-2 nav-right-main">

              <div class="nav-right">
                {% if request.user.is_authenticated and request.user.is_member %}
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{% url 'UserProfileRedirectPage' %}">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link active" href="{% url 'logout' %}">Logout</a>
                {% elif request.user.is_authenticated and request.user.is_company %}
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        menu
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'mem_signup' %}">Sign up your members</a></li>
                        <li><a class="dropdown-item" href="{% url 'searchUsers' %}">Search users</a></li>
                        <li><a class="dropdown-item" href="{% url 'totalStats' %}">See the statistic</a></li>
                      </ul>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{% url 'UserProfileRedirectPage' %}">Home</a>
                    </li>
                      <li class="nav-item">
                        <a class="nav-link active" href="{% url 'logout' %}">Logout</a>
                {% else %}
                      <a class="nav-link active" href="{% url 'login' %}">Login</a>
                  </li>
                {% endif %}
              </div>
              
            
            </ul>
          </div>
        </div>
      </nav>
    {% block content %} {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/html5-qrcode@2.0.9/dist/html5-qrcode.min.js"></script>
    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>