{% extends "accounts/base.html" %}

{% block title %}Home page{% endblock %}

{% block content %}
<div class="main-company-page-interact">
    <a href="{% url 'setTime' %}" class="set-time-companies btn btn-primary">set time</a>
    <a href="{% url 'mem_signup' %}" class="set-time-companies btn btn-primary">Sign up your members</a>
</div>

<div class="main-user-list ">
    <h1>Users</h1>
    <div class="row row-cols-1 row-cols-md-2  row-cols-lg-3 row-cols-xl-2 g-4">

        {% for each in data %}
        
        <div class="alert alert-warning mt-5 user-from-list fs-5 text-muted col">
            <p>Username: {{ each.member }}</p>
            <p>Name: {{ each.member.first_name }} Surname: {{ each.member.last_name }}</p>
            <a class="btn btn-primary" href="{% url 'userWorktime' user=each.member %}">See stats</a>
        </div>
         
        {% endfor %}
    </div>
</div>
{% endblock %}