{% extends "accounts/base.html" %}
{% load static %}
{% block title %}Home page{% endblock %}

{% block content %}
<div class="main">
    <div class="header">
        <div class="header-inside">
            <h1 style="font-size: 60px;">{{ member.company_id.company }}</h1>
            <p style="text-transform: capitalize; font-size: 30px;">{{ request.user.first_name }} {{ request.user.last_name }}</p>
        </div>
    </div>
    <div class="main-scanner">
        <a href="{% url 'createWorkTime' %}">Scan</a>
    </div>
    <div class="main-stats">
        <a href="{% url 'seeUserStats' user=member.member page=1 %}">моя статистика</a>
    </div>
    <div class="footer"> <p>v.0.0.1</p> </div>
</div>

{% endblock %}


<!-- class WorkTimeView(CreateView):
    model = WorkTime
    form_class = WorkTimeForm
    template_name = 'accounts/workTimeCreate.html'
    success_url = reverse_lazy('accounts/member')

    def get_form_kwargs(self):
        kwargs = super(WorkTimeView, self).get_form_kwargs()
        kwargs['user'] = self.request.user
        return kwargs -->


<!-- class WorkTimeForm(ModelForm):
    def __init__(self, user, *args, **kwargs):
        super(WorkTimeForm, self).__init__(*args, **kwargs)
        self.user = user

    class Meta:
        model = WorkTime
        fields = '__all__'
        # widgets = {'any_field': HiddenInput(),}

    @transaction.atomic
    def save(self):
        workTime = WorkTime.objects.create()
        workTime.company_id = self.user.company_id
        workTime.save()
        workTime.member_id = self.user.id
        workTime.save()
        # member.company_id = self.company
        # member.save()
        return workTime -->