{% extends 'accounts/base.html' %}
{% load static %}

{% block content %}
<div class="userStats container alert alert-warning">
    <h2>Total worktime: {{ totalTime }}</h2>
    <h2>On time: {{ ontime }}</h2>
    <h2>Late: {{ late }}</h2>
</div>
<div class="user_stats_main">
    <div class="user_stat">
        <div class="stat_main"><h4>Date</h4></div>
        <div class="stat_main"><h4>Came</h4></div>
        <div class="stat_main"><h4>Left</h4></div>
        <div class="stat_main"><h4>worked</h4></div>
    </div>
    {% for each in data %}
    <hr>
    {% if each.on_time %}
        <div style="color: green;" class="user_stat">
            <div class="stat_main">
                <h4>{{ each.created_at }}</h4>
            </div>
            <div class="stat_main">
                <h4>{{ each.start_time  }}</h4>
            </div>
            <div class="stat_main">
                {% if each.end_time %}
                    <h4>{{ each.end_time }}</h4>
                {% endif %}
            </div>
            <div class="stat_main">
                {% if each.worked %}
                    <h4>{{ each.worked }}</h4>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div style="color: red;" class="user_stat">
            <div class="stat_main">
                <h4>{{ each.created_at }}</h4>
            </div>
            <div class="stat_main">
                <h4>{{ each.start_time  }}</h4>
            </div>
            <div class="stat_main">
                {% if each.end_time %}
                    <h4>{{ each.end_time }}</h4>
                {% endif %}
            </div>
            <div class="stat_main">
                {% if each.worked %}
                    <h4>{{ each.worked }}</h4>
                {% endif %}
            </div>
        </div>
    {% endif %}
    {% endfor %}

    <div class='pagination justify-content-center'>
        {% if data.has_previous %}
            {% if request.user.is_member %}
                <a href='{% url "seeUserStats" data.previous_page_number %}'>Previous </a>
            {% elif request.user.is_company %}
                <a href='{% url "userWorktime" user=user page=data.previous_page_number %}'>Previous </a>
            {% endif %}
        {% endif %}

        <span class='mx-4'>
        Page {{ data.number }} of {{ data.paginator.num_pages }}
        </span>

        {% if data.has_next %}
            {% if request.user.is_member %}
                <a href='{% url "seeUserStats" data.next_page_number %}'>Next </a>
            {% elif request.user.is_company %}
                <a href='{% url "userWorktime" user=user page=data.next_page_number %}'>Next </a>
            {% endif %}
        {% endif %}
    </div>

</div>
</div>
{% endblock %}